.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

nav select {
  border: none;
  width: 20vw;
  border-radius: 3px;
  height: 1.5rem;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
}
img {
  width: 90px;
  border-radius: 50%;
}
.tiny-images {
  width: 20px;
}

.tweet-form {
  display: flex;
  margin-bottom: 20px;
}

#tweet-input {
  /* flex-grow: 1; */
  margin-right: 10px;
}

#timeline {
  border: 1px solid #ccc;
  padding: 10px;
}

.tweet {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.tweet p {
  margin: 0;
}

.tweet .title {
  font-weight: bold;
}

.tweet .body {
  margin-top: 5px;
}

.tweet .email {
  font-style: italic;
  margin-top: 5px;
}

#tweet-button {
  padding: 5px 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.tweeted_section {
  display: flex;
  flex-direction: row;

}
.icons {
  display: flex;
  /* margin-left: 20px; */
  gap: 50px;
  justify-content: flex-start;
  margin-top: 10px;
}
.icons p img {
  width: 20px;
}

.container .container2 {
  display: flex;
  /* flex-direction: row; */
}

.cont_comments {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;;
}

.fancy{
  border: 1px solid #ccc;
  padding: 10px;
  display: flex; 
  gap: 5px;
  flex-direction: column;
}

.comment-btn{
  cursor: pointer;
}

.comment-btn:hover{
  width: 30px;
  height: 50px;
}
